.gradle
.kotlin
build/classes
build/kotlin
build/reports
build/resources
build/test-results
build/tmp
build/resolvedMainClassName
gradle
.gitattributes
.gitignore
auth-service.iml
HELP.md
gradlew
gradlew.bat